<div class="container-fluid ps-md-0">
  <div class="row g-0">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-4">Welcome back!</h3>
              <!-- Sign In Form -->
              <form [formGroup]="loginForm">
                <div class="header">Login to your account</div>
                <br />
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="Ex. pat@example.com"
                    formControlName="email"
                    class="form-control"
                    autocomplete="off"
                    required
                  />
                  <label for="floatingInput">Email address</label>
                  <mat-error *ngIf="submitted && f['email'].errors">
                    Please enter a valid email address
                  </mat-error>
                  <div *ngIf="f['email'].touched && f['email'].invalid">
                    <mat-error *ngIf="f['email'].errors?.['required']">
                      Email is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                    formControlName="password"
                    autocomplete="off"
                    required
                  />
                  <label for="floatingPassword">Password</label>
                  <div *ngIf="f['password'].touched && f['password'].invalid">
                    <mat-error *ngIf="f['password'].errors?.['required']">
                      Password is <strong>required</strong>
                    </mat-error>
                  </div>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="rememberPasswordCheck"
                  />
                  <label class="form-check-label" for="rememberPasswordCheck">
                    Remember password
                  </label>
                </div>

                <div class="d-grid">
                  <button
                    class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
                    type="submit"
                    (click)="login()"
                    [disabled]="!loginForm.valid"
                  >
                    Sign in
                  </button>

                  <div class="text-center">
                    <a class="small" (click)="forgot()">Forgot password?</a>
                  </div>
                  <br />
                  <div class="row">
                    <div class="col"><hr /></div>
                    <div class="col-auto">OR</div>
                    <div class="col"><hr /></div>
                  </div>
                  <br />
                  <button
                    mat-stroked-button
                    color="primary"
                    type="button"
                    (click)="register()"
                  >
                   Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
