.register {
  min-height: 100vh;
}

.bg-image {
  background-image: url("../../../assets/images/auth/register.png");
  background-size: cover;
  background-position: center;
  background-color: #002826;
}

.btn-login {
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  padding: 0.75rem 1rem;
}
